<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tauqueer's Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/style.css">
</head>
<body>
  <header class="header">
    <section class="header__navigation">
      <a href="http://www.tkhan.ca">
        <img src="../public/img/logo.svg" alt="logo">
      </a>
      <nav>
        <ul class="navigation__links">
          <li class="navigation__link"><a href="#"></a>About</li>
          <li class="navigation__link"><a href="http://">Skills</a></li>
          <li class="navigation__link"><a href="http://">Portfolio</a></li>
          <li class="navigation__link"><a href="http://">Contact</a></li>
        </ul>
      </nav>
    </section>
    <section class="header__description">
      <h1 class="header__name">Tauqueer Khan</h1>
      <p class="header__title">Full-stack Web developer</p>
    </section>
  </header>
  <script src="main.js"></script>
</body>
</html>