<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tauqueer's Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/style.css">
</head>
<body>
  <header class="header">
    <section class="header__nav-bar">
      <a class="" href="http://www.tkhan.ca">
        <img class="header__logo" src="/img/logo.svg" alt="logo">
      </a>
      <nav class="header__navigation">
        <ul class="header__links">
          <li class="header__link"><a href="#">About</a></li>
          <li class="header__link"><a href="#">Skills</a></li>
          <li class="header__link"><a href="#">Portfolio</a></li>
          <li class="header__link"><a href="#">Contact</a></li>
        </ul>
      </nav>
    </section>
    <section class="header__description">
      <h1 class="header__name">Tauqueer Khan</h1>
      <p class="header__title">Full-stack Web developer</p>
    </section>
  </header>
  <script src="/scripts/main.js"></script>
</body>
</html>